/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°RESET CSS°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°RESET CSS°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

body {
    font-family: Verdana, sans-serif;
    width: 100%;
}

#contenedorNav {
    height: 9em;
    width: inherit;
    background-color: #180E0C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#logo{
    font-size: 30px;
    font-weight: lighter;
}
a{
    color: inherit;
}
#links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    gap: 1em;
    font-weight: lighter;
}
#links a{
    border-radius: 4px;
    border-color: transparent;
    border-style: solid;
    padding: 1em;

}

#links a:hover{
    background-color: #4DAEB9;
}

#contenedorImg{
    height: 27em;
    width: 100%;
    overflow: hidden;
}
main{
    width: 100%;
}

.frutas{
    max-width: 100%;
    background-color: whitesmoke;
    display: flex;
    gap: 2em ;
    padding: 4em 2em 8em 2em ;
    align-items: flex-start;
    justify-content: space-between;
}

.card{
    width: 20%;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.contenedorFrutaImg{
    overflow: hidden;
    height: 50%;
    width: 100%;
}

.contenedorFrutaImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2{
    font-size: 18px;
    font-weight: bold;
}

.card p{
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.contenido{
    max-width: 100%;
    height: 24em;
    display: flex;
    padding: 4em 2em 4em 2em ;
    align-items: center;
    justify-content: space-between;
    background-color: #362019;
    color: #986758;
    gap: 2em;

}
h4{
    font-size: x-large;
    font-weight: bolder;

}

.contenido1, .contenido2{
    max-width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgContenido{
    max-width: 33%;
    overflow: hidden;
    padding-right: 2em;
  }

.imgContenido img {
    width: 100%;
}

.item{
display: flex;
padding-top: 2em;

}


.contenido3{
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}


.imgContenido3{
    max-width: 100%;
    overflow: hidden;
    padding-right: 2em;
    height: 60%;
  }

.imgContenido3 img {
    width: 100%;
}